@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fredoka", sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(https://st.depositphotos.com/2275299/2505/v/950/depositphotos_25058279-stock-illustration-romantic-seamless-pattern-love-concept.jpg);


    /* background: #2fdd92; */
    transition: 0.5s;

}
body.active{
    background-image: url(https://st.depositphotos.com/2275299/2505/v/950/depositphotos_25058279-stock-illustration-romantic-seamless-pattern-love-concept.jpg);
}
.container {
    position: relative;
    width: 800px;
    height: 500px;
    margin: 20px;
}
.blueBg {
    position: absolute;
    top: 40px;
    width: 100%;
    height: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.33);
    border-radius: 12px;
}
.blueBg .box {
    position: relative;
    width: 50%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 12px;
}
.blueBg .box h2 {
    color: #333;
    font-size: 1.4em;
    font-weight: 500;
    margin: 30px;
}
.blueBg .box button {
    cursor: pointer;
    padding: 10px 20px;
    background: #fa0606;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 500;
    border: none;
}
.formBox {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 112%;
    background: #fff;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 45px rgba(0, 0, 0, 0.25);
    transition: 0.5s ease-in-out;
    overflow: hidden;
    border-radius: 12px;

}
.formBox.active {
    left: 50%;
}
.formBox .form{
    position: absolute;
    left: 0;
    width: 100%;
    padding: 50px;
    transition: 0.5s;
}
.formBox .signinForm{
    transition-delay: 0.25s;
}
.formBox.active .signinForm{
    left: -100%;
    transition-delay: 0s;
}
.formBox .signupForm{
    left: 100%;
    transition-delay: 0.25s;
}
.formBox.active .signupForm{
    left: 0;
    transition-delay: 0s;
}
.formBox .form form{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.formBox .form form h3{
    font-size: 1.5em;
    color: #333;
    margin: 30px;
    font-weight: 500;
}
.formBox .form form input{
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
}
.formBox .form form input[type="submit"]{
    background: #00c897;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    border: none;
    max-width: 100px;
    cursor: pointer;
    border-radius: 12px;
}
.formBox .form form .forgot{
    color: #333;
}
.formBox.active .signupForm input[type="submit"]{
    background: #f43648;
}